body{
  background-color: black;
  color: aliceblue;
}
.card-item{
  height: 256px;
  background-color: rgb(193, 190, 190);
  margin: 10px;
  border-radius: 6px;
  box-shadow: 2px 0px 3px 0px #4d4c4c;
  padding: 15px;
}
.card-item-active{
  padding: 15px;
  height: 256px;
  background-color: rgb(191, 204, 238);
  margin: 10px;
  border-radius: 6px;
  box-shadow: 2px 0px 3px 0px #4d4c4c;
  transform: rotateY(360deg);
  transition: transform 0.8s;
}
.card-item-match{
  height: 256px;
  margin: 10px;
  background-color: rgba(193, 190, 190, 0.522);
  border-radius: 6px;
}

.card-wrapper{
  background-color: rgb(5, 142, 227);
  width: 100%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}