body{
  background-color: black;
  color: aliceblue;
}
.card-item{
  width: 128px;
  height: 200px;
  background-color: rgb(193, 190, 190);
  display: inline-block;
  margin: 10px;
}
.card-item-active{
  width: 128px;
  height: 200px;
  background-color: rgb(191, 204, 238);
  display: inline-block;
  margin: 10px;
}

.card-wrapper{
  width: 1000px;
}